body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}
* {
  box-sizing: border-box;
  overflow:auto;
}
.form{
	width:400px;
	padding: 40px;
	text-align:center;
	background: #09080A;
	border-radius: 24px;
	margin-left:auto;
	margin-right:auto;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.box p{
	color:white;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"],.box input[type = "tel"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #fdcb6e;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 230px;
	border-color: #DFBF18;
}
.box input[type = "submit"], .box input[type = "text"], .box input[type = "password"],.box input[type = "email"],.box input[type = "tel"]{
		background:#ffffff;
}
.box input[type = "submit"]{
	border:0;
	background:#fdcb6e;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #fdcb6e;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #ffffff;
}
.box p a{
	text-decoration:none;
	font-family:Arial Narrow;
	font-size:0.8em;
	text-align:center;
	color:white;
}

.box p a:hover{
	font-style:italic;
	color:#fdcb6e;
}